<!DOCTYPE html>
<html>
	<head><B>Create Account</B></head>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<body>
	<form id="user_info" method="POST" action="./member_create">
		<p><B>ID : </B><input type="text" name="id" />
			<input type="button" id="id_check" value="ID check" /></p>
		<p><B>Password : </B><input type="password" name="password" /></p>
		<p><B>Password(Repeat) : </B><input type="password" name="password_repeat" /></p>
		<p><B>NickName : </B><input type="text" name="nickname" /></p>
		<p><B>Name : </B><input type="text" name="name" /></p>
		<input type="button" id="submit_btn" value="Create" />
		<input type="button" onclick="javascript:window.close();" value="Cancel" />
	</form>
	<script type="text/javascript" language="javascript">
	$(function(){
		function formcheck(){
			return true;
		}
		$('#id_check').click(function(event){
			var ids = $("input[name=id]").val();
			$.post('/member_id_check', 
				{id : ids}, 
				function(data){
					switch(Number(data)){
						case 0:
							alert("이미 존재하는 ID입니다.");
							break;
						case 1:
							alert("사용 가능한 ID입니다.");
							break;
						case 2:
							alert("에러가 발생했습니다. 잠시후 다시 시도해주세요.");
							break;
					}
				});
		});	
		$('#submit_btn').click(function(){//form check
			$.post('/member_create',
				{
					id : $('input[name=id]').val(),
					password : $('input[name=password]').val(),
					nickname : $('input[name=nickname]').val(),
					name : $('input[name=name]').val()
				},
				function(data){
					switch(Number(data)){
						case 0:
							alert("회원 가입 성공!");
							window.close();
							break;
						case 1:
							alert("에러가 발생했습니다. 잠시후 다시 시도해주세요.");
							break;
					}
				});
		});
	});
	</script>
</body>
</html>