<div class="panel panel-default" id='item_panel' style='background-color:#80bdff;'>
	<div class="panel-heading" style='background-color:#cce5ff;'>
		<B>
		<span class="label label-primary">
			from.
		</span>
		</B>
		&nbsp; %from_id%
	</div>
	<div class="panel-body" style='text-align:right;'>
		<input type='button' value='Accept' class="btn btn-primary" id='%from_id%' name='adder' />
		<input type='button' value='Delete' class="btn btn-primary" id='%from_id%' name='deleter' />
	</div>
</div>