<style>
	div
	#friend_main{
		width:100%;
		height:100%;
		background-color:#b3d7ff;
	}
	#friend_list{
		width:100%;
		height:90%;
	}
	#friend_interface{
		width:100%;
		height:10%;
	}
</style>
<div id="friend_main">
	<div id="friend_list">
		<ul id="friend_list">
		</ul>
	<div>
	<div id="friend_interface">
		<input type="text" id="new_friend_id">
		<input type="button" value="Add friend"/>
	</div>
</div>
<script>
</script>