<style>
	div
	#user_info{
		width:100%;
		height:100%;
		background-color:#e6f2ff;
	}
</style>
<div id="user_info">
	<form>	
		<p><B>ID : </B><input id="user_id" type="text" value='<%= id %>' /></p>
		<p><B>Nick Name : </B><input id="user_nick" type="text" value='<%= nickname %>' /></p>
		<p><B>Name : </B><input id="user_name" type="text" value='<%= name %>' /></p>
		<input type="button" id="edit" value="edit" />
	</form>
</div>