<style>
	div#row_user_info{
		height:7%;
		//background-color:green;
		text-align:right;
	}
</style>

<div id="row_user_info">
	<right>
	<span>
		<img id = "logo" src = "/img?file_path='images/logo.jpg'" width = 20 height = 20></img>
	</span>
	<span>
		<B><%= id %></B>
	</span>
	<span>
		<input type="button" id="user_info" value="my info" />
	</span>
	<span>
		<input type="button" id="logout" value="Sign out" />
		<script>
			$('img[id=logo]').click(function(){
				window.location.replace('/chatting');
			});
			$('input[id=user_info]').click(function(){
				$('div[id=col2]').load("/member_info");
			});
			$('#logout').click(function(){
				$.post('/signout');
				window.location.replace('/');
			});
		</script>
	</span>
	</right>
</div>