<style>
	div#user_info_pan{
		margin-left:0.5%;
		margin-right:0.5%;
		width:79%;
		height:100%;
		background-color:#e6f2ff;
		float:left;
	}
	div#user_info{
		margin-left:1%;
		margin-top:1%;
		margin-right:1%;
		width : 60%;
	}
</style>
<div id='user_info_pan'>
<div id='user_info'>
<left>
<form id='edit_user_form'>
	<p><B>ID : <div id='info_id' /></B></p>
	<p><B>Nick Name : </B><input id='info_user_nick' type='text' class='form-control' /></p>
	<p><B>Name : </B><input id='info_user_name' type='text' class='form-control' /></p>
	<input type='submit' value='edit' class="btn btn-primary" />
	<input type='hidden' id='edit_user_id' class="btn btn-primary" />
</form>
</left>
</div>
</div>
<script>
	$(function(){
		socket.emit('whoami');
		socket.on('youare', function(msg){
			var msg_data = JSON.parse(msg);
			$.ajax({
				url : '/member_info',
				method : 'POST',
				data : {
					id : msg_data.id
				},
				success : function(msg1){
					var msg1_data = JSON.parse(msg1);
					renderUserInfo(msg1_data.data);
				}
			});
		});
	});
	var renderUserInfo = function(data){
		$('div[id=info_id]').text(data.id);
		$('input[id=info_user_nick]').val(data.nickname);
		$('input[id=info_user_name]').val(data.name);
	}
	$('#edit_user_form').submit(function(){
		if($('input[id=info_user_nick]').val() == ''){
			alert('Nick Name을 입력하세요.');
			$('#edit_user_nick').focus();
			return false;
		}
		if($('input[id=info_user_name]').val() == ''){
			alert('Name을 입력하세요.');
			$('#edit_user_name').focus();
			return false;
		}
		$.ajax({
			url : '/member_update',
			method : 'POST',
			data : {
				id : $('div[id=info_id]').text(),
				nickname : $('input[id=info_user_nick]').val(),
				name : $('input[id=info_user_name]').val()
			},
			success : function(res){
				var res_data = JSON.parse(res);
				switch(res_data.result){
					case 0:
					{
						alert("error\nplease try again");
					}
					break;
					case 1:
					{
						alert("success in updating!!!");
					}
					break;
				}
			}
		});
		return false;
	});
</script>