<style>
	div
	#row_user_info{
		width:100%;
		height:100%;
		background-color:#cce5ff;
	}
	span
	#left{
		//width:50%;
		//height:100%;
		//background-color:red;
		//text-align:left;
		float:left;
	}
	#right{
		//width:50%;
		//height:100%;
		//background-color:green;
		//text-align:right;
		float:right;
	}
</style>

<div id="row_user_info">
	<p>
	<span id="left">
		<a href="" onclick="javascript:render_chatting_main();">
			<img id = "logo" src = "/img?file_path='images/logo.jpg'" width = 50 height = 50></img>
		</a>
	</span>
	<span id="right">
		<a href="" onclick="javascript:render_chatting_main();"><B><%= id %></B></a>
		<input type="button" id="user_info" value="my info" />
		<input type="button" id="logout" value="Sign out" />
		<script>
			function render_chatting_main(){
				$.ajax({
					type : 'GET',
					url : '/chatting_main',
					success : function(res){
						$('div[id=col2]').html(res);
					}
				});
			}
			$('img[id=logo]').click(function(){
				$(location).attr("href", "/chatting");
			});

			$('input[id=user_info]').click(function(){
				$.ajax({
					type : 'POST',
					url : '/member_info',
					success : function(res){
						var res_data = JSON.parse(res).result;

						//for rendering
						$.ajax({
							url : '/user_info',
							method : 'GET',
							data : res_data,
							success : function(res1){
								$('div[id=col2]').html(res1);
							}
						});
					},
					error : function(){
						alert("ajax error");
					}
				});
			});

			$('#logout').click(function(){
				$.post('/signout');
				window.location.replace('/');
			});
		</script>
	</span>
	</p>
</div>