<style>
div#profile_panel{
	width:100%;
	height:100%;
}
div#profile_header{
	width:100%;
	height:10%;
	background-color:#0066ff;
	text-align:center;
}
div#profile_body{
	width:100%;
	height:40%;
	background-color:#e6f2ff;
}
div#profile_footer{
	width:100%;
	height:50%;
	background-color:#cce6ff;
	text-align:center;
}
</style>
<div id='profile_panel' class='panel-info'>
	<div id='profile_header' class='panel-heading'>
		<font id='friend_request_title' style='font-size:32px;color:#cce6ff;margin-top:5%;'>
			<B>
				<span class='glyphicon glyphicon-search'>
				</span>
				Profile
			</B>
		</font>
	</div>
	<div id='profile_body' class='panel-body'>
		<table class='table table-striped table-hover'>
			<tbody>
				<tr>
					<td>
						<B>
							ID
						</B>
					</td>
					<td>
						<div id='user_id'>
							yourID
						</div>
						<input type='hidden' id='user-id-hidden' />
					</td>
				</tr>
				<tr>
					<td>
						<B>
							Name
						</B>
					</td>
					<td>
						<input type='input' id='user_name'>
						</input>
					</td>
				</tr>
				<tr>
					<td>
						<B>
							NickName
						</B>
					</td>
					<td>
						<input type='input' id='user_nick'>
						</input>
					</td>
				</tr>
				<tr>
					<td>
						<B>
							create account time
						</B>
					</td>
					<td>
						<div id='user_cdate'>
							YYYY-mm-dd HH:MM:ss
						</div>
					</td>
				</tr>
			</tbodt>
		</table>
	</div>
	<div id='profile_footer' class='panel-footer'>
		<button class='btn-block btn-success' id='profile_edit'>
			Edit
		</button>
	</div>
</div>
<script>
var renderProfile = function(data){
	$('div[id=profile_body]').find('#user-id-hidden').val(data.id);
	$('div[id=user_id]').text(data.id);
	$('input[id=user_name]').val(data.name);
	$('input[id=user_nick]').val(data.nickname);
	$('div[id=user_cdate]').text(data.cdate);
};
var check_profileEditForm = function(edited_data){
	if(typeof edited_data.name == 'undefined' || edited_data.name == ''){
		$('input[id=user_name]').focus();
		alert('insert your name')
		return false;
	}
	if(edited_data.nickname == '' || typeof edited_data.nickname == 'undefined'){
		$('input[id=user_nick]').focus();
		alert('insert your nick name');
		return false;
	}
	return true;
};
$(function(){
	var ret = {
		action : 'read'
	};
	socket.json.emit('client_member', ret);

	$('button[id=profile_edit]').on('click', function(){
		var edited_data = {
			nickname : $('input[id=user_nick]').val(),
			name : $('input[id=user_name]').val()
		};
		if(!check_profileEditForm(edited_data))
			return;
		var ret = {
			action : 'update',
			value : edited_data
		};
		socket.json.emit('client_member', ret);
	});
});
</script>