<html>
	<head>
		<title>Chatting</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>

  <body>
  	<center>
  		<img id = "logo" src = "/img?file_path='images/logo.jpg'" width = 500 height = 400></img>
	  	<form id="login_info">
	  		<p>
	  		<B>ID : </B>
	  		<input type = 'text' name = 'id'></input>
	  		</p>
	  		<p>
	  		<B>Password : </B>
	  		<input type = 'password' name = 'pass'></input>
	  		</p>
			<input type = 'button' id="create" value="Create Account" />
	  		<input type = 'submit' id="signin" value="Sign in" />
	  		<input type = 'button' id="findac" value="Find Account" />
	  	</form>
	</center>
	<script text = "text/javascript">
		$(function(){
			$('#create').click(function(){
				window.open("./member_create", "", "width = 300, height = 300, resizable=false");
			});

			$('form#login_info').submit(function(data){
				if($('input[name=id]').val() == ""){
					alert("ID를 체크하세요.");
					$('input[name=id]').focus();
					return false;
				}
				if($('input[name=pass]').val() == ""){
					alert("Pass Word를 체크하세요.");
					$('input[name=pass]').focus();
					return false;
				}

				$.ajax({
					url : '/signin',
					method : 'POST',
					data : {
						id : $('input[name=id]').val(),
						password : $('input[name=pass]').val()
					},
					success : function(res){
						var res_data = JSON.parse(res);
						switch(res_data.result){
							case 0:
							{
								alert("존재하지 않는 회원입니다.\nID, PASSWORD를 확인하여 주세요");
								$('input[name=id]').focus();
							}
							break;
							case 1:
							{
								$(location).attr('href', '/chatting');
							}
							break;
							case 2:
							{
								alert("서버에 에러가 발생하였습니다.\n잠시 후 다시 시도해 주세요.");
							}
							break;
						}
					},
					error : function(){
						alert("서버에 연결 할 수 없습니다.");
					}
				});

				return false;
			});

			$('#findac').click(function(){
				alert("find account");
			});
		});
	</script>
  </body>
</html>