<html>
	<head>
		<% include ../Headers/header_main %>
		<% include ../scripts/utils %>
		<script text='text/javascript'>
			var socket;
			var user = new Map();
			/*
			K : V
			"user_id" : d1,
			"user_nick" : d2,
			"user_name" : d3,
			"friends" : Map()
				K : V
				fid : {friend_id : d4, friend_nick : d5, friend_name : d6, isOnline : d7},...
			"rooms" : Map()
				K : V
			"friend_requests" : Map()
				K : V
			"room_requests" : Map()
				K : V
			*/
			user.put('friends', new Map());
			user.put('friend_requests', new Map());
			user.put('rooms', new Map());
			user.put('room_requests', new Map());
		</script>
	</head>
	<body id='main_body' style='width:100%;height:100%;background-color:#80bdff;'>
		<div class='panel-group' id='main_panel_group' style='width:100%;height:100%;float:left;'>
		</div>
		<input type='hidden' id='chat_addr' value=<%= addr.chat_addr %>></input>
	</body>

	<% include ../static_files/unlogin_panel %>
	<% include ../static_files/login_panel %>
	<% include ../friend_list/friend_list %>
	
	<script text='text/javascript'>
	var getChatAddr = function(){
		return $('input[id=chat_addr]').val();
	};
	var initializeMainPanel = function(){
		$('body[id=main_body] div[id=main_panel_group]').remove();
		$('body[id=main_body]').append($('<div class="panel-group" id="main_panel_group" style="width:100%;height:100%;text-align:center;float:left;"></div>'));
	};
	var appendMainPanel = function(doc){
		$('body[id=main_body] div[id=main_panel_group]').append(doc);
	};

	$(document).ready(function(){
		appendMainPanel(getUnloginPanelForm());
	});
	</script>
</html>