<style>
	div#main_page{
		width:100%;
		height:100%;
	}
	div#welcome_header{
		width:100%;
		height:10%;
		background-color:#0066ff;
		text-align:center;
	}
	div#welcome_body{
		width:100%;
		height:80%;
		background-color:#e6f2ff;
	}
	div.panel-footer{
		width:100%;
		height:10%;
		background-color:#e6f2ff;
	}
</style>
<div id="main_page" class='panel-info'>
	<div class='panel-heading' id='welcome_header'>
		<font id='friend_request_title' style='font-size:32px;color:#cce6ff;margin-top:5%;'>
			<B>
				<span class='glyphicon glyphicon-comment'>
				</span>
				&nbsp;Welcome
			</B>
		</font>
	</div>
	<div id="welcome_body" class='panel-body'>
		<p>
			<h1>
				<B>
				Welcome to Chat.<br>
				</B>
			</h1>
		</p>
		<p>
			<B>
				You can invite your friend at your chatting room.</br>
				and chat with your friends.
			</B>
		</p>
	</div>
	<div class='panel-footer'>
	</div>
</div>