<div id='chat-home-panel' style='display:none;'>
	<div class='panel panel-default' style='width:100%;height:100%;'>
		<div class='panel-heading' style='height:15%;background-color:#0066ff;color:white;'>
			<h3>
				Welcome
			</h3>
		</div>
		<div class='panel-body' style='height:70%;text-align:left;'>
			Enjoy Chatting
		</div>
		<div class='panel-footer' style='background-color:#0066ff;color:white;height:15%;'>
		</div>
	</div>
</div>

<script>
	var getHomePanelForm = function(){
		return $('div[id=chat-home-panel]').html();
	};
</script>