<html>
	<% include ../Headers/header_default %>
	<style>
	div#gate_panel{
		background-color:#80bdff;
		margin-left:auto;
		margin-right:auto;
		margin-top:auto;
		margin-bottom:auto;
		width:auto;
		height:auto;
	}
	div#gate_header{
		background-color:#1a75ff;
		width:100%;
		height:20%;
		text-align:center;
	}
	div#gate_body{
		width:100%;
		height:80%;
	}
	div#gate_body_col1{
		width:58%;
		height:97%;
		margin-left:1%;
		margin-right:1%;
		margin-top:1%;
		margin-bottom:2%; 
		background-color:#66a3ff;
		float:left;
	}
	div#gate_body_col2{
		width:38%;
		height:97%;
		margin-left:1%;
		margin-right:1%;
		margin-top:1%;
		margin-bottom:2%;
		background-color:#3399ff;
		text-align:center;
		float:left;
	}
	font#head_content1{
		color:blue;
		font-size:48px;
	}
	</style>
	<body>
		<div id='gate_panel'>
			<div id='gate_header'>
				<font id='head_content1'>
					<B>
					Welcome Chatting
					</B>
				</font>
			</div>
			<div id='gate_body'>
				<div id='gate_body_col1'>
					<B>
						notice
					</B>
				</div>
				<div id='gate_body_col2'>
					<button class='btn btn-primary' onclick='javascript:document.location="/chatting"'>
						Go to Chat
					</button>
				</div>
			</div>
		</div>
	</body>
	<script text='text/javascript'>
	</script>
</html>