<style>
font{
	//color:#cce6ff;
	color:white;
	font-weight:bold;
}
li.active{
	//color:#0066ff;
	color:red;
}
</style>
<script>
var active1_font_color = '#cce6ff';
var active1_bg_color = '#0066ff';
var active2_font_color = active1_font_color;
var active2_bg_color = active1_bg_color;
var tab1_bg_color = '#4da6ff';
var tab1_font_color = 'white';
var tab2_bg_color = '#99ccff';
var tab2_font_color = 'white';
</script>
<ul class='nav nav-tabs' style='width:100%;height:100%;'>
	<li name='nav_id' id='tab_item1'>
		<a href='javascript:onIDClick();' >
			<font id='tab_text' id='yourID'>
				<%= user_id %>
			</font>
		</a>
	</li>
	<li name='nav_profile' id='tab_item2'>
		<a href='javascript:onProfileClick();'>
			<font id='tab_text'>
				Profile
			</font>
		</a>
	</li>
	<li name='nav_rooms' id='tab_item1'>
		<a href='javascript:onRoomsClick();'>
			<font id='tab_text'>
				Rooms
			</font>
			<span class="badge" id='num_joined_room'></span>
		</a>
	</li>
	<li name='nav_room_requests' id='tab_item2'>
		<a href='javascript:onRoomRequestsClick();'>
			<font id='tab_text'>
				Room Invitation
			</font>
			<span class="badge" id='num_room_invitation'></span>
		</a>
	</li>
	<li name='nav_friend_requests' id='tab_item1'>
		<a href='javascript:onFriendRequests();' id='friend_request_tab'>
			<font id='tab_text'>
				Friend Requests&nbsp;
			</font>
			<span class="badge" id='num_friend_requests'></span>
		</a>
	</li>
	<li name='nav_signout' id='tab_item2' style='float:right;'>
		<a href='javascript:onSignOutClick();'>
			<font id='tab_text'>
				Sign Out
			</font>
		</a>
	</li>
</ul>

<script>
var resetTab = function(){
	$('li[name=nav_id]').attr('class', '');
	$('li[name=nav_id]').find('font').css('color', tab1_font_color);
	$('li[name=nav_id]').children('a').css('background-color', tab1_bg_color);

	$('li[name=nav_profile]').attr('class', '');
	$('li[name=nav_profile]').find('font').css('color', tab2_font_color);
	$('li[name=nav_profile]').children('a').css('background-color', tab2_bg_color);

	$('li[name=nav_rooms]').attr('class', '');
	$('li[name=nav_rooms]').find('font').css('color', tab1_font_color);
	$('li[name=nav_rooms]').children('a').css('background-color', tab1_bg_color);

	$('li[name=nav_room_requests]').attr('class', '');
	$('li[name=nav_room_requests]').find('font').css('color', tab2_font_color);
	$('li[name=nav_room_requests]').children('a').css('background-color', tab2_bg_color);

	$('li[name=nav_friend_requests]').attr('class', '');
	$('li[name=nav_friend_requests]').find('font').css('color', tab1_font_color);
	$('li[name=nav_friend_requests]').children('a').css('background-color', tab1_bg_color);

	$('li[name=nav_signout]').attr('class', '');
	$('li[name=nav_signout]').find('font').css('color', tab2_font_color);
	$('li[name=nav_signout]').children('a').css('background-color', tab2_bg_color);
};
var onIDClick = function(){
	resetTab();
	$('li[name=nav_id]').attr('class', 'active');
	$('li[name=nav_id]').find('font').css('color', active1_font_color);
	$('li[name=nav_id]').children('a').css('background-color', active1_bg_color);

	current_document = 'id';
	$.ajax({
		url : '/welcome',
		method : 'GET',
		success : function(doc){
			setCol1(doc);
		}
	});
};
var onFriendRequests = function(){
	resetTab();
	$('li[name=nav_friend_requests]').attr('class', 'active');
	$('li[name=nav_friend_requests]').find('font').css('color', active1_font_color);
	$('li[name=nav_friend_requests]').children('a').css('background-color', active1_bg_color);
	current_document = 'friend_request';
	$.ajax({
		url : '/friend_requests',
		method : 'GET',
		success : function(doc){
			setCol1(doc);
		}
	});
};
var onProfileClick = function(){
	resetTab();
	$('li[name=nav_profile]').attr('class', 'active');
	$('li[name=nav_profile]').find('font').css('color', active2_font_color);
	$('li[name=nav_profile]').children('a').css('background-color', active2_bg_color);
	current_document = 'profile';
	$.ajax({
		url : '/user_info',
		method : 'GET',
		success : function(doc){
			setCol1(doc);
		}
	});
};
var onRoomsClick = function(){
	resetTab();
	$('li[name=nav_rooms]').attr('class', 'active');
	$('li[name=nav_rooms]').find('font').css('color', active1_font_color);
	$('li[name=nav_rooms]').children('a').css('background-color', active1_bg_color);
	current_document = 'rooms';
	$.ajax({
		url : '/read_rooms',
		method : 'GET',
		success : function(doc){
			setCol1(doc);
		}
	});
};
var onRoomRequestsClick = function(){
	resetTab();
	$('li[name=nav_room_requests]').attr('class', 'active');
	$('li[name=nav_room_requests]').find('font').css('color', active2_font_color);
	$('li[name=nav_room_requests]').children('a').css('background-color', active2_bg_color);
	current_document = 'room_requests';
	$.ajax({
		url : '/read_roomInvitation',
		method : 'GET',
		success : function(doc){
			setCol1(doc);
		}
	});
};
var onSignOutClick = function(){
	resetTab();
	$('li[name=nav_signout]').attr('class', 'active');
	$('li[name=nav_signout]').find('font').css('color', active2_font_color);
	$('li[name=nav_signout]').children('a').css('background-color', active2_bg_color);
	socket.emit('disconnect');
	document.location = '/';
};
var renderLoginTab = function(){
	$('span[id=num_joined_room]').text(room_count);
	$('span[id=num_room_invitation]').text(room_invite_count);
	$('span[id=num_friend_requests]').text(friend_request_count);
};
$(function(){
	var ret = {
		action : 'read'
	};
	socket.json.emit('client_friendRequest', ret);
	ret = {
		action : 'read',
		value : {
			target : 'all'
		}
	};
	socket.json.emit('client_room', ret);

	resetTab();
	onIDClick();
	current_document = 'id';
	renderLoginTab();
});
</script>