<html>
	<!-- header contains script src required -->
	<% include ../header %>
	<style type="text/css">
		body{
			background-color:#80bdff;
		}

		div
		#upper{
			width:100%;
			height:10%;
			//background-color:white;
		}
		#col1{
			width:15%;
			height:90%;
			float:left;
			//background-color:yellow;
		}
		#col2{
			width:70%;
			height:90%;
			float:left;
			//background-color:red;
		}
		#col3{
			width:15%;
			height:90%;
			float:left;
			//background-color:blue;
		}
	</style>
	<head>
		<title>welcome <%= id %></title>
	</head>
	<body>
		<div id="div_table">
			<div id="upper">
				<!--  user_tab is fixed page -->
				<% include ../client/user_tab %>
			</div>
			<div class="row_main">
				<div id="col1">
					<% include ./room_list %>
				</div>
				<div id="col2">
					<% include ./chatting_main %>
				</div>
				<div id="col3">
					<% include ../client/friend_list %>
				</div>
			</div>
		</div>
	</body>
	<script text="text/javascript">
		function getUserID(){
			return '<%= id %>';
		}

		$.ajax({
			url : '/get_chat_url',
			method : 'GET',
			success : function(res){
				var res_data = JSON.parse(res);
				switch(res_data.result){
					case 0://fail in connecting
					{
						alert("can't connect to chatting server\nplease refresh your page");
					}
					break;
					case 1://success in connecting
					{
						socket = io.connect(res_data.chat_url);
						alert("success in connecting");
					}
					break;
				}
			}
		});
	</script>
</html>