<style>
	div#main_page{
		margin-left:0.5%;
		margin-right:0.5%;
		width:79%;
		height:100%;
		float:left;
		background-color:#e6f2ff;
	}
	div#descript{
		margin-left:1%;
		margin-top:1%;
	}
</style>
<div id="main_page" class='main_page'>
	<div id="descript">
		<p>
			<h1>
				<B>
				Welcome to Chatting...<br>
				</B>
			</h1>
		</p>
		<p>
			<B>
				You can invite your friend at your chatting room.</br>
				and chat with your friends.
			</B>
		</p>
	</div>
</div>