<style>
	div
	#main_page{
		width:100%;
		height:100%;
	}
	#descript{
		width:100%;
		height:100%;
		background-color:#e6f2ff;
	}
</style>
<div id="main_page">
	<div id="descript">
		<p>
			<h1>
				<B>
				Welcome to Chatting...<br>
				</B>
			</h1>
		</p>
		<p>
			<B>
				select chatting room on the left page,<br> or you can make new chatting room.
			</B>
		</p>
	</div>
</div>