<html>
	<!-- header contains script src required -->
	<% include ../Headers/header_main %>
	<style type="text/css">
		body{
			background-color:#80bdff;
		}
		div
		#main{
			width:100%;
			height:20%;
		};
		#div_table{
			width:100%;
			height:50%;
		};
	</style>
	<head>
		<title>welcome</title>
	</head>
	<body>
		<div class="main">
		</div>
		<div class="div_table">
			<div class='col1'>
			</div>
			<div class='col2'>
			</div>
		</div>
	</body>
	<script text="text/javascript">
		$(function(){
			loadUnlogin();
		});
		var loadLogin = function(){
			$.ajax({
				url : '/user_tab_login',
				method : 'GET',
				success : function(msg){
					$('div[class=main]').html(msg);
				}
			});
			$.ajax({
				url : '/chatting_main',
				method : 'GET',
				success : function(msg){
					$('div[class=col1]').html(msg);
				}
			});
			$.ajax({
				url : '/friend_list',
				method : 'GET',
				success : function(msg){
					$('div[class=col2]').html(msg);
				}
			});
		}
		var loadUnlogin = function(){
			$.ajax({
				url : '/user_tab_unlogin',
				method : 'GET',
				success : function(msg){
					$('div[class=main]').html(msg);
				}
			});
		}
	</script>
</html>