<style>
	div#chat_log{
		width:100%;
		height:80%;
		background-color:#e6f2ff;
	}
</style>
<div id="chat">
	<div id="chat_log">
		<ul id="chat_log">
		</ul>
	</div>
	<p>
		<form id="user_msg_form">
			<input type="text" id="msg_txt" />
			<input type="submit" id="send_btn" value="Send" />
		</form>
	</p>
</div>
<script>
	$('#user_msg_form').submit(function(){
		$user_msg = $('#msg_txt').val();
		alert("message : " + $user_msg);
		return false;
	});
</script>