<html>
	<!-- header contains script src required -->
	<% include ../header %>
	<style type="text/css">
		body{
			background-color:#80bdff;
		}

		div
		#upper{
			width:100%;
			height:10%;
			//background-color:white;
		}
		#col1{
			width:15%;
			height:90%;
			float:left;
			//background-color:yellow;
		}
		#col2{
			width:70%;
			height:90%;
			float:left;
			//background-color:red;
		}
		#col3{
			width:15%;
			height:90%;
			float:left;
			//background-color:blue;
		}
	</style>
	<head>
		<title>welcome</title>
	</head>
	<body>
		<div id="div_table">
			<div id="upper">
			</div>
			<div class="row_main">
				<div id="col1">
					<% include ./room_list %>
				</div>
				<div id="col2">
					<% include ./chatting_main %>
				</div>
				<div id="col3">
					<% include ../client/friend_list %>
				</div>
			</div>
		</div>
	</body>
	<script text="text/javascript">
		$(function(){
			loadUnlogin();
		});
		var loadLogin = function(id){
			$.ajax({
				url : '/user_tab_login',
				method : 'GET',
				success : function(msg){
					$('div[id=upper]').html(msg);
					$('B[id=yourID]').text(id);
				}
			});	
		}
		var loadUnlogin = function(){
			$.ajax({
				url : '/user_tab_unlogin',
				method : 'GET',
				success : function(msg){
					$('div[id=upper]').html(msg);
				}
			});
		}
	</script>
</html>