<style>
	div#chat_log{
		width:100%;
		height:80%;
		background-color:#e6f2ff;
	}
</style>
<div id="chat">
	<div id="chat_log">
		<ul id="chat_log">
		</ul>
	</div>
	<p>
		<input type="text" id="msg_txt" />
		<input type="button" id="send_btn" value="Send" />
	</p>
</div>
<script>
</script>