<style>
	div#room_list_main{
		margin-left:0.5%;
		margin-right:0.5%;
		width:79%;
		height:100%;
		float:left;
		background-color:#e6f2ff;
	}
	div#room_list_pan{
		width:99%;
		height:80%;
		margin-left:0.5%;
		margin-right:0.5%;
	}
	div#room_list_interface{
		width:99%;
		height:20%;
		margin-left:0.5%;
		margin-right:0.5%;
	}
</style>

<div class='room_list_main' id='room_list_main'>
	<div id='room_list_pan'>
		<ul id='room_list_up'>
		</ul>
	</div>
	<div id='room_list_interface'>
		<button type="button" id='addroom' class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-plus"></span> Add Room
		</button>
	</div>
</div>
<script text='text/javascript'>
var renderRoomList = function(data){
	
}
$('button[id=addroom]').click(function(){
	
});
</script>