<div id='friend-list-form' style='display:none;'>
	<div id='friend-list-panel' class='panel-group' style='margin-left:2%;margin-top:5%;height:80%;width:20%;float:left;'>
		<div id='online-friends' class='panel panel-default'>
			<div class='panel-heading' style='background-color:#0066ff;'>
				<h4 class="panel-title">
					<a onclick='javascript:onOnlineFriendsClick();' style='color:white;'>Online Friends</a>
				</h4>
			</div>
			<div id="online-collapse" class="panel-collapse panel-body list-group collapse in" style='overflow-y:scroll;'>
			</div>
			<div id='online-collapse-footer' class='panel-footer' style='background-color:#0066ff;'>
			</div>
		</div>
		<div id='offline-friends' class='panel panel-default'>
			<div class='panel-heading' style='background-color:#0066ff;color:white;'>
				<h4 class="panel-title">
					<a onclick='javascript:onOfflineFriendsClick();' style='color:white;'>Offline Friends</a>
				</h4>
			</div>
			<div id="offline-collapse" class="panel-collapse panel-body list-group collapse in" style='overflow-y:scroll;'>
			</div>
			<div id='offline-collapse-footer' class='panel-footer' style='background-color:#0066ff;'>
			</div>
		</div>
	</div>
</div>

<div id='friend-card-form' style='display:none;'>
	<a class='list-group-item' id='%friend_id%' data-toggle='tooltip' title='%friend_name%' onclick='javascript:showFriendModal("%friend_id%");'>
		%symbol%
		%friend_nick%
	</a>
</div>

<div id='friend-info-modal' class='modal fade' role='dialog'>
</div>
<div id='friend-modal-content' style='display:none;'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style='background-color:#0066ff;color:white;'>
				<button type='button' class='close' data-dismiss='modal'>
					&times;
				</button>
				<h4>
					Friend Information
				</h4>
			</div>
			<div class='modal-body'>
				<table class='table table-hover'>
					<tbody>
						<tr>
							<td><B>ID</B></td>
							<td>
								%friend_id%
							</td>
						</tr>
						<tr>
							<td><B>Nick Name</B></td>
							<td>
								%friend_nick%
							</td>
						</tr>
						<tr>
							<td><B>Name</B></td>
							<td>
								%friend_name%
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='modal-footer' style='background-color:#0066ff;'>
				<button class='btn btn-danger'>
					Delete Friend
				</button>
				<button class='btn btn-default' data-dismiss='modal'>
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<script>
var getFriendListForm = function(){
	return $('div[id=friend-list-form]').html();
};
var onOnlineFriendsClick = function(){
	$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=online-collapse]').collapse('toggle');
};
var onOfflineFriendsClick = function(){
	$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=offline-collapse]').collapse('toggle');
};
var addFriendList = function(data){
	/*
		data{
			friend_id : d1,
			friend_nick : d2,
			friend_name : d3,
			isOnline : d4
		}
	*/
	var friend_form = $('div[id=friend-card-form]').html();
	friend_form = friend_form.replace(/%friend_id%/gi, data.friend_id);
	friend_form = friend_form.replace(/%friend_nick%/gi, data.friend_nick);
	friend_form = friend_form.replace(/%friend_name%/gi, data.friend_name);
	if(data.isOnline == 1){
		friend_form = friend_form.replace(/%symbol%/gi, '<span class="label label-success">Online</span>');
		$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=online-collapse]').append(friend_form);
	}else{
		friend_form = friend_form.replace(/%symbol%/gi, '<span class="label label-danger">Offline</span>');
		$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=offline-collapse]').append(friend_form);
	}
	$('[data-toggle=tooltip]').tooltip({placement:'auto'});
};

var showFriendModal = function(fid){
	var friends = user.get('friends');
	var friend_data = friends.get(fid);
	if(typeof friend_data == 'undefined'){
		alert('친구 정보를 읽어올 수 없습니다.');
		return;
	}

	var form = $('div[id=friend-modal-content]').html();
	form = form.replace(/%friend_id%/gi, friend_data.friend_id);
	form = form.replace(/%friend_nick%/gi, friend_data.friend_nick);
	form = form.replace(/%friend_name%/gi, friend_data.friend_name);

	$('div[id=friend-info-modal]').empty();
	$('div[id=friend-info-modal]').append(form);
	$('div[id=friend-info-modal]').modal();
};

var deleteFriendList = function(data){
	/*
	data{
		friend_id : d1
	}
	*/
	$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=online-collapse] a[id=' + data.friend_id + ']').remove();
	$('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=offline-collapse] a[id=' + data.friend_id + ']').remove();
};

var updateFriendList = function(data){
	/*
	data{
		friend_id : d1,
		friend_name : d2,
		friend_nick : d3,
		isOnline : d4
	}
	*/
	deleteFriendList({friend_id : data.friend_id});
	addFriendList(data);
};

var renderFriendList = function(){
	/*
	data is hashmap structure

	*/
	var target_online = $('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=online-friends] div[id=online-collapse]');
	var target_offline = $('body[id=main_body] div[id=main_panel_group] div[id=friend-list-panel] div[id=offline-friends] div[id=offline-collapse]');
	var friends = user.get('friends');

	target_online.empty();
	target_offline.empty();
	
	friends.forAll(addFriendList);
};
</script>