<style>
div#rooms_panel{
	width:100%;
	height:100%;
}
</style>

<div id='rooms_panel' class='panel-group'>
	<div id='rooms_col1' style='width:70%;float:left;'>
		<div id='rooms_col1_content' />
	</div>
	<div id='rooms_col2' class='panel-info' style='width:29%;margin-left:1%;float:left;'>
		<div id='rooms_col2_header' class='panel-heading' style='height:10%;background-color:#0066ff;'>
			<font id='room_name' style='font-size:32px;color:#cce6ff;margin-top:5%;'>
				<B>
					<span class="glyphicon glyphicon-log-in" />
						&nbsp;Rooms
				</B>
			</font>
		</div>
		
		<div id='rooms_col2_body' class='panel-body' style='height:70%;background-color:#e6f2ff;'>
			<div id='rooms_list' class='list-group' style='width:100%;height:100%;'>
			</div>
		</div>

		<div id='rooms_interface' class='panel-footer' style='height:20%;background-color:#cce6ff;'>
			<input id='add_room_title' placeholder='new room title here'>
			</input>
			<br>
			<button class='btn btn-default' id='add_room_button'>
				<span class='glyphicon glyphicon-plus'>
				</span>
				Add Room
			</button>
		</div>
	</div>
</div>

<div id='rooms_col1_form' style='display:none;'>
	<div class='panel-info'>
		<div id='rooms_col1_header' class='panel-heading' style='height:10%;background-color:#0066ff;'>
			<font id='room_name' style='font-size:32px;color:#cce6ff;margin-top:5%;'>
				<B>
					%room_title%
				</B>
			</font>
		</div>
		<div id='rooms_col1_body' class='panel-body' style='height:80%;background-color:e6f2ff;'>
			<input type='hidden' id='room_id' value='%room_id%' />
			<div id='room_chat_log' class='list-group' style='width:90%;height:70%;margin-left:5%;margin-right:5%;background-color:white;overflow-y:scroll;'>
			</div>

			<div id='room_chat_interface' class='panel-default' style='width:90%;height:25%;margin-left:5%;margin-right:5%;'>
				<form id='chat-form' onsubmit='javascript:return false;'>
					<div class='form-group'>
						<input type='text' class='form-control' style='width:80%;float:left;' id='chat_msg' />
						<button type='submit' class='btn btn-primary form-control' style='background-color:#0080ff;color:#004080;width:10%;float:right;'>
							<span class='glyphicon glyphicon-comment' />
						</button>
					</div>
				</form>
				<input type='input' id='inv_friend_id' placeholder='invite friend id here' />
				<button class='btn btn-info' onclick='javascript:onInviteClick($(this).parent());'>
					invite Friend
				</button>
			</div>
		</div>
		<div class='panel-footer' style='height:10%;background-color:e6f2ff;'>
		</div>
	</div>
</div>

<div id='room_form' style='display:none;'>
	<a onclick='javascript:onRoomClick($(this));' class='list-group-item' name='%room_id%' style='width:100%;height:10%;'>
		<input type='hidden' id='room_form_roomId' value='%room_id%'></input>
		<input type='hidden' id='room_form_roomTitle' value='%room_title%'></input>
		<div id='room_form_info' style='float:left;width:45%;'>
			%room_title%
		</div>
		<div id='room_info_mid' style='float:left;width:35%;'>
			<font style='color:green;' data-placement='bottom' data-toggle="tooltip" title="%members%">
				<span class='glyphicon glyphicon-user' />
				%number_member%
			</font>
		</div>
		<div id='room_form_interface' style='float:right;width:20%;text-align:right;'>
			<span class='glyphicon glyphicon-share' style='color:red;' />
		</div>
	</a>
</div>

<script>
var renderRoomCol1 = function(data){
	/*
	input
		{
			room_title : d1,
			room_id : d2
		}
	*/
	var col1_form = $('div[id=rooms_col1_form]').html();

	col1_form = col1_form.replace(/%room_title%/gi, data.room_title);
	col1_form = col1_form.replace(/%room_id%/gi, data.room_id);

	$('div[id=rooms_col1_content]').remove();
	var add_form = $('<div id="rooms_col1_content"></div>').html(col1_form);
	$('div[id=rooms_col1]').append(add_form);
};

var resetRoomTitle = function(){
	$('input[id=add_room_title]').val('');
};

var checkRoomTitle = function(data){
	if(typeof data == 'undefined')
		return false;
	if(data == '')
		return false;
	return true;
};

var addRoom = function(data){
	var form = $('div[id=room_form]').html();
	form = form.replace(/%room_id%/gi, data.room_id);
	form = form.replace(/%room_title%/gi, data.room_title);
	if(data.joined_member.result == 0){
		form = form.replace(/%number_member%/gi, 'can\'t read');
		form = form.replace(/%members%/gi, 'can\'t read');
	}else{
		form = form.replace(/%number_member%/gi, data.joined_member.members.length);
		var member_str = '';
		for(var i in data.joined_member.members){
			member_str += data.joined_member.members[i].member_nick;
			member_str += ' ';
		}
		form = form.replace(/%members%/gi, member_str);
	}
	$('div[id=rooms_list]').append(form);
};

var renderRooms = function(data){
	var target = $('div[id=rooms_list]');
	var par = target.parent();
	
	target.remove();
	par.append('<div id="rooms_list" style="width:100%;height:100%;overflow-y:scroll;background-color:white;" class="list-group"></div>');

	for(var i in data){
		addRoom(data[i]);
	}
	$('[data-toggle="tooltip"]').tooltip(); 
};

var onRoomClick = function(object){
	//alert("object : " + object.attr('class') + "\nname : " + object.attr('name'));
	var data = {
		room_id : object.children('#room_form_roomId').val(),
		room_title : object.children('#room_form_roomTitle').val()
	};
	renderRoomCol1(data);
};

var onInviteClick = function(target_object){
	var room_id = target_object.parent().find('#room_id').val();
	
	if(room_id.trim() == ''){//no room selected
		alert('오른쪽의 방 목록에서 방을 선택하세요.');
		return;
	}

	var target_id = target_object.children('#inv_friend_id').val();
	alert('target_id : ' + target_id);
	var ret = {
		action : 'create',
		value : {
			room_id : room_id,
			target_id : target_id
		}
	};
	socket.json.emit('client_roomInvite', ret);
};

$(function(){
	var data = {
		room_title : 'No Room Selected',
		room_id : ''
	};
	renderRoomCol1(data);
	var ret = {
		action : 'read',
		value : {
			target : 'all'
		}
	};
	socket.json.emit('client_room', ret);

	$('button[id=add_room_button]').on('click', function(){
		var room_title = $('input[id=add_room_title]').val().trim();
		if(!checkRoomTitle(room_title)){
			alert('방 제목을 입력하세요.')
			$('input[id=add_room_button]').focus();
			return;
		}

		var ret = {
			action : 'create',
			value : {
				room_title : room_title
			}
		};
		socket.json.emit('client_room', ret);
	});

	
});
</script>